In [155]:
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor

In [156]:
df = pd.read_excel('city_price.xlsx')
df["CITY"] = list(map(lambda city: city.split(",")[-1], df["ADDRESS"]))

In [157]:
df

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),CITY
0,Owner,0,0,2,1,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0,Bangalore
1,Owner,0,0,2,1,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0,Bangalore
2,Dealer,1,0,2,1,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5,Kolkata
3,Dealer,0,0,3,1,1495.053957,1,1,"Sodala,Jaipur",26.916347,75.795600,66.5,Jaipur
4,Dealer,0,1,2,1,1040.000000,1,1,"Bileshivale,Bangalore",13.054202,77.674002,41.6,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11043,Dealer,0,0,2,1,760.116253,1,1,"Nandi Bagan,Kolkata",22.541110,88.337780,34.0,Kolkata
11044,Dealer,1,1,1,1,752.049334,0,1,"Mulund (West),Mumbai",19.175900,72.952200,100.0,Mumbai
11045,Dealer,0,0,2,1,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1,Jaipur
11046,Owner,0,0,2,1,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0,Chennai
11047,Dealer,0,1,2,1,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8,Jaipur

In [146]:
dummies = pd.get_dummies(df.CITY)

In [158]:
dummies_df = pd.concat([df, dummies], axis='columns')

In [148]:
dummies_df

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,...,TARGET(PRICE_IN_LACS),CITY,Bangalore,Chennai,Goa,Jaipur,Kolkata,Lucknow,Mumbai,Surat
0,Owner,0,0,2,1,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,...,55.0,Bangalore,1,0,0,0,0,0,0,0
1,Owner,0,0,2,1,933.159722,1,1,"Jigani,Bangalore",12.778033,...,43.0,Bangalore,1,0,0,0,0,0,0,0
2,Dealer,1,0,2,1,999.009247,0,1,"New Town,Kolkata",22.592200,...,60.5,Kolkata,0,0,0,0,1,0,0,0
3,Dealer,0,0,3,1,1495.053957,1,1,"Sodala,Jaipur",26.916347,...,66.5,Jaipur,0,0,0,1,0,0,0,0
4,Dealer,0,1,2,1,1040.000000,1,1,"Bileshivale,Bangalore",13.054202,...,41.6,Bangalore,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11043,Dealer,0,0,2,1,760.116253,1,1,"Nandi Bagan,Kolkata",22.541110,...,34.0,Kolkata,0,0,0,0,1,0,0,0
11044,Dealer,1,1,1,1,752.049334,0,1,"Mulund (West),Mumbai",19.175900,...,100.0,Mumbai,0,0,0,0,0,0,1,0
11045,Dealer,0,0,2,1,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,...,27.1,Jaipur,0,0,0,1,0,0,0,0
11046,Owner,0,0,2,1,927.079009,1,1,"Sholinganallur,Chennai",12.900150,...,67.0,Chennai,0,1,0,0,0,0,0,0
11047,Dealer,0,1,2,1,896.774194,1,1,"Jagatpura,Jaipur",26.832353,...,27.8,Jaipur,0,0,0,1,0,0,0,0

In [159]:
X = dummies_df.drop(columns=["POSTED_BY", "BHK_OR_RK", "RERA", "RESALE", "ADDRESS", "LONGITUDE", "LATITUDE", "TARGET(PRICE_IN_LACS)", "CITY", "Bangalore"])
Y = df["TARGET(PRICE_IN_LACS)"]

In [160]:
X

,UNDER_CONSTRUCTION,BHK_NO.,SQUARE_FT,READY_TO_MOVE,Chennai,Goa,Jaipur,Kolkata,Lucknow,Mumbai,Surat
0,0,2,1300.236407,1,0,0,0,0,0,0,0
1,0,2,933.159722,1,0,0,0,0,0,0,0
2,1,2,999.009247,0,0,0,0,1,0,0,0
3,0,3,1495.053957,1,0,0,1,0,0,0,0
4,0,2,1040.000000,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
11043,0,2,760.116253,1,0,0,0,1,0,0,0
11044,1,1,752.049334,0,0,0,0,0,0,1,0
11045,0,2,1022.641509,1,0,0,1,0,0,0,0
11046,0,2,927.079009,1,1,0,0,0,0,0,0
11047,0,2,896.774194,1,0,0,1,0,0,0,0

In [186]:
knr_model = KNeighborsRegressor()
knr_model.fit(X, Y)

KNeighborsRegressor()

In [191]:
knr_model.predict([[0, 2, 1300.236407, 1, 0, 0, 1, 0, 0, 0, 0]])

c:\Users\rumma\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

array([60.1])

In [169]:
knr_model.score(X, Y)

0.871528023590268

In [176]:
city_position = [0, 0, 0, 0, 0, 0]
city_position[1] = 1

In [177]:
print(city_position[1])

1